.section-priority {
  padding-top: 94px;

  @media screen and (max-width: $desktop) {
    padding: 60px 0;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-priority {
  display: block;

  @media screen and (max-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    gap: 30px;
  }
}

.icons-priority {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;
  padding: 25px 0;

  background-color: $background-color-section;
  border-radius: 4px;
}

.icon-priority {
  width: 70px;
  height: 70px;
}

.item-priority {
  margin-bottom: 30px;

  &:nth-child(4) {
    margin-bottom: 0;
  }

  @media screen and (min-width: $table) {
    flex-basis: calc((100% - 30px) / 2);
    margin-bottom: 0;
  }
}

.title-priority {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-text-color;
  margin-bottom: 10px;

  @media screen and (max-width: $table) {
    text-align: center;
  }
}

.text-priority {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
}
