.team {
  background-color: $background-color-section;
}

.title-team {
  margin-bottom: 30px;
}

.team-list {
  @media screen and (min-width: $table) and (max-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    gap: 30px;
  }
}

.item-team-list {
  flex-basis: calc((100% - 30px) / 2);
  background-color: $color-text-hero;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (max-width: $table) {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.container-text {
  padding: 30px 20px;
}

.workers-title {
  color: $primary-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

.text-job {
  color: $secondary-text-color;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 10px;
}

.networks {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.item-networks {
  width: 44px;
  height: 44px;
}

.link-network {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #afb1b8;
  width: 44px;
  height: 44px;
  border-radius: 25px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $color-text-hero;
    background-color: $accent-color;
    border-radius: 25px;
  }
}

.network-icon,
.network-icon-footer {
  height: 20px;
  width: 20px;
}

.network-icon {
  fill: currentColor;
}
