.section-priority {
  padding: 60px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-priority {
  display: block;
}

.icons-priority {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;
  padding: 25px 0;

  background-color: $background-color-section;
  border-radius: 4px;
}

.icon-priority {
  width: 70px;
  height: 70px;
}

.item-priority {
  margin-bottom: 30px;

  &:nth-child(4) {
    margin-bottom: 0;
  }

  // min-width: 270px;
  // margin-right: 30px;

  // &:last-child {
  //   margin-right: 0;
  // }
}

.title-priority {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-text-color;
  margin-bottom: 10px;
}

.text-priority {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
}
