.contact {
  margin-left: auto;

  @media screen and (min-width: $table) {
    display: block;
  }

  @media screen and (max-width: $table) {
    display: none;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
  }
}

.nav__list {
  display: flex;

  @media screen and (max-width: $table) {
    display: none;
  }
}

.contact__item {
  @media screen and (min-width: $desktop) {
    margin-left: 50px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.mail,
.phone {
  display: flex;
  align-items: center;
  color: $secondary-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  @media screen and (min-width: $desktop) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.mail {
  @media screen and (max-width: $desktop) {
    margin-bottom: 10px;
  }
}

.mail_icon {
  margin-right: 10px;
  fill: currentColor;
}

.phone_icon {
  margin-right: 10px;
  fill: currentColor;
}
