.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  @media screen and (max-width: $desktop) {
    text-align: center;
  }

  @media screen and (min-width: $table) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}

.conttainer-address {
  @media screen and (max-width: $desktop) {
    margin-bottom: 60px;
  }
}

.footer__logo {
  font-family: $logo;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: $color-text-hero;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (min-width: $table) {
    font-size: 24px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 26px;
  }
}

.footer__web {
  color: $accent-color;
}

.address {
  font-style: normal;
  margin-top: 20px;
}

.location {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $color-text-hero;
  margin-bottom: 9px;
  display: block;
}

.mail-footer {
  display: block;
}

.item-mail-footer {
  margin-bottom: 9px;
}

.mail-footer,
.phone-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
