.email-input {
  @media screen and (min-width: $table) {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-left: 100px;
  }
}

.label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $color-text-hero;

  @media screen and (min-width: $desktop) {
    display: flex;
  }
}

.input {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  width: 99%;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  @media screen and (min-width: $table) {
    margin-bottom: 0;
  }

  @media screen and (min-width: $desktop) {
    width: 358px;
  }
}

.buttom-input {
  display: inline-flex;
  align-items: center;
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.85;
  letter-spacing: 0.06em;
  padding: 10px 28px;
  margin-left: 12px;
  color: $color-text-hero;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
